// Reset

@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:300,400,500,700';

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    border: none;
	margin: 0;
	padding: 0;
	z-index: 0;
}

a,
a:visited,
a:active {
	list-style-type: none;
	text-decoration: none;
}

p, span {
	font-size: 18px;
}

section {
	width: 100%;
	height: auto;
}

a,
a:visited,
a:active,
a:hover,
button,
input, 
input:active, 
input:hover, 
input:visited, 
textarea {outline: none;}

h1, h2, h3,
h4, h5, h6 {
	font-weight: 300;
}

h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 18.5px;}
h4 {font-size: 16px;}
h5 {font-size: 13.5px;}
h6 {font-size: 11px;}

ul {
	list-style-type: none;
}

input, textarea, button {
	display: block;
	resize: none;
}

input[type="button"],
input[type="submit"],
button {
	cursor: pointer;
}

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}